extends layout.jade

block title
  title Kikkeritilastoja

block scripts
  script(src='http://d3js.org/d3.v3.min.js', type='application/javascript')
  script(src=config.path+'/web/prelude-browser-min.js', type='application/javascript')
  script(src=config.path+'/web/game_filters.js', type='application/javascript')
  script(src=config.path+'/web/chart_playergames.js', type='application/javascript')
  script(src=config.path+'/web/chart_playersuccessindex.js', type='application/javascript')
  script(src=config.path+'/web/chart_playerwinrelations.js', type='application/javascript')
  script(src=config.path+'/web/charts.js', type='application/javascript')

block styles
  link(rel='stylesheet', href=config.path+'/web/charts.css')
  
block content
  section
    form#criteria(method='get' action='.')
      ul
        li
          input#gameTags(placeholder='Pelin tagit', type='text', name='gameTags' value=query.gameTags)
        li
          input#players(placeholder='Pelaajat', type='text' name='players' value=query.players)
        li
          input(value='Suodata' type='submit')
  h2 Pelattuja pelejä
  section
    #chartPlayerGames
  h2 Menestysindeksi
  section
    #chartPlayerSuccessIndex
  h2 Voittosuhteet
  section
    #chartPlayerWinRelations
    
