extends layout.jade

block title
  title Kikkeri - Peli

block content
  h1= moment(game.timestamp).format("YYYY-MM-DD HH:mm")
  section
    #tags
      each tag in game.tags
        span.tag= tag
    #teams
      span= game.teams[0].players.join(', ')
      span  vs 
      span= game.teams[1].players.join(', ')
    #score
      span= game.teams[0].score
      span  - 
      span= game.teams[1].score
    
    
          

