form#criteria.pure-form(method='get' action='.')
  fieldset.pure-group
    input#gameTags.pure-input-1(placeholder='Tagit, -Tagit, +Tagit', type='text', name='gameTags' value=query.gameTags)
    input#players.pure-input-1(placeholder='Pelaajat, -Pelaajat, +Pelaajat', type='text' name='players' value=query.players)
    input#numPlayers.pure-input-1(placeholder='Pelaajien lukumäärä', type='number' name='numPlayers' value=query.numPlayers)
    input#since.pure-input-1(placeholder='Alkupäivämäärä' type='date' name='since' value=query.since)
    input#until.pure-input-1(placeholder='Loppupäivämäärä' type='date' name='until' value=query.until)
  input.pure-button.pure-button-primary(value='Suodata' type='submit')

