form#criteria(method='get' action='.')
  ul
    li
      input#gameTags(placeholder='Tagit, -Tagit, +Tagit', type='text', name='gameTags' value=query.gameTags)
    li
      input#players(placeholder='Pelaajat, -Pelaajat, +Pelaajat', type='text' name='players' value=query.players)
    li
      input#numPlayers(placeholder='Pelaajien lukumäärä', type='number' name='numPlayers' value=query.numPlayers)
    li
      input#since(placeholder='Alkupäivämäärä' type='date' name='since' value=query.since)
    li
      input#until(placeholder='Loppupäivämäärä' type='date' name='until' value=query.until)
    li
      input(value='Suodata' type='submit')

