extends layout.jade

block title
  title Kikkeri - Pelit

block content
  h1 Pelatut pelit
  section
    ul#games
      each game in games
        li
          a(href=game._id)
            span= moment(game.timestamp).format("YYYY-MM-DD HH:mm ")
            span= game.teams[0].players.join(', ')
            span  vs 
            span= game.teams[1].players.join(', ')
            span  | 
            span= game.teams[0].score
            span  - 
            span= game.teams[1].score

