extends layout.jade

block title
  title Kikkeri

block scripts
  script(src='web/index.js', type='application/javascript')

block content
  h1 Lisää kikkeritulos
  section
    form(action='game/simple/', method='post')
      ul
        li
          input#team1(type='text', placeholder='Joukkue 1' required)
          input#score1(type='number' placeholder='Pisteet 1' min='0' max='10' required)
        li
          input#team2(type='text', placeholder='Joukkue 2' required)
          input#score2(type='number' placeholder='Pisteet 2' min='0' max='10' required)
        li
          input#tags(type='text', placeholder='Tagit')
        li
          input(type='submit', value='Lähetä')
  h2 Viimeisimmät pelit
  section
    ul#games
      each game in games
        li
          a(href='/game/' + game._id)
            span= moment(game.timestamp).format("YYYY-MM-DD HH:mm ")
            span= game.teams[0].players.join(', ')
            span  vs 
            span= game.teams[1].players.join(', ')
            span  | 
            span= game.teams[0].score
            span  - 
            span= game.teams[1].score
