extends layout.jade

block title
  title Kikkeri

block scripts
  script(src='web/index.js')

block content
  h1 Lis채채 kikkeritulos
  form(action='game/simple/', method='post')
    ul
      li
        input#player1(type='text', placeholder='Nimi 1', min='0' max='10' required)
        input#score1(type='number', placeholder='Pisteet 1' required)
      li
        input#player2(type='text', placeholder='Nimi 2' required)
        input#score2(type='number', placeholder='Pisteet 2', min='0' max='10' required)
      li
        input(type='submit', value='L채het채')
  ul#games
    each game in games
      li
        span= moment(game.timestamp).format("YYYY-MM-DD HH:mm ")
        span= game.teams[0].players[0]
        span  vs 
        span= game.teams[1].players[0]
        span  | 
        span= game.teams[0].score
        span  - 
        span= game.teams[1].score
