html
  head
    block title
      title Kikkeri
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src=config.path+'/web/util.js', type='application/javascript')
    block scripts
    link(rel='stylesheet', href=config.path+'/web/style.css')
    block styles
  body
    nav
      ul
        li
          a(href=config.path+'/') Lisää tulos
        li
          a(href=config.path+'/game/') Pelatut pelit
        li
          a(href=config.path+'/charts/') Tilastoja
        li
          a(href=config.path+'/table/') Taulukko
        li
          a(href=config.path+'/tournament/') Turnaus
 
    #content
      block content
    
