extends layout.jade

block title
  title Kikkeri - Pelitaulukko

block scripts

block content
  section.pure-g
    .pure-u-1.pure-u-md-2-5
      include gamefilterform.jade
  h2 Pelitaulukko
  p voitot - tappiot (tehdyt maalit - päästetyt maalit)
  if !data || Object.keys(data).length == 0
    section
      p Ei tuloksia
  else
    section.stretch
      table#gameTable.pure-table.pure-table-bordered
        thead
          tr
            th
            each playerData, team in data
              th= team
            th Yhteensä
        tbody
          each playerData, team in data
            tr
              th=team
              each pd, t in data
                if playerData.opponents[t]
                  td #{playerData.opponents[t].wins}!{"\&nbsp;-\&nbsp;"}#{playerData.opponents[t].losses} (#{playerData.opponents[t].goals}!{"\&nbsp;-\&nbsp;"}#{playerData.opponents[t].goalsagainst})
                else
                  td -
              th #{playerData.wins}!{"\&nbsp;-\&nbsp;"}#{playerData.losses} (#{playerData.goals}!{"\&nbsp;-\&nbsp;"}#{playerData.goalsagainst})
              
      

