extends layout.jade

block title
  title Kikkeri - Pelitaulukko

block scripts

block styles
  link(rel='stylesheet', href=config.path+'/web/table.css')
  
block content
  section
    include gamefilterform.jade
  h2 Pelitaulukko
  if !data || Object.keys(data).length == 0
    section
      p Ei tuloksia
  else
    section.stretch
      table#gameTable
        thead
          tr
            th
            each playerData, team in data
              th= team
            th Yhteensä
        tbody
          each playerData, team in data
            tr
              th=team
              each pd, t in data
                if playerData.opponents[t]
                  td #{playerData.opponents[t].wins}!{"\&nbsp;-\&nbsp;"}#{playerData.opponents[t].losses}
                else
                  td -
              th #{playerData.wins}!{"\&nbsp;-\&nbsp;"}#{playerData.losses}
              
      

