extends layout.jade

block title
  title Kikkeri - Turnaus

block scripts
  script(src=config.path+'/web/tablesort.min.js', type='application/javascript')
  script(src=config.path+'/web/tablesort.number.js', type='application/javascript')

block styles

block content
  section
    form#criteria.pure-form.pure-form-aligned(method='get' action='.')
      fieldset
        div.pure-control-group
          label(for=gameTags) Tagit
          input#gameTags.pure-input-2-3(placeholder='Tagit, -Tagit, +Tagit', type='text', name='gameTags' value=query.gameTags required="true")
        div.pure-control-group
          label(for=players) Pelaajat
          input#players.pure-input-2-3(placeholder='Pelaajat, -Pelaajat, +Pelaajat', type='text' name='players' value=query.players)
        div.pure-control-group
          label(for=numPlayers) Pelaajien lukumäärä
          input#numPlayers.pure-input-2-3(placeholder='Pelaajien lukumäärä', type='number' name='numPlayers' value=query.numPlayers)
      fieldset
        div.pure-control-group
          label(for=quarterFinalTag) Puolivälierätagi
          input#quarterFinalTag.pure-input-2-3(placeholder='Puolivälierätagi', type='text', name='quarterFinalTag' value=query.quarterFinalTag)
        div.pure-control-group
          label(for=semiFinalTag) välierätagi
          input#semiFinalTag.pure-input-2-3(placeholder='Välierätagi', type='text', name='semiFinalTag' value=query.semiFinalTag)
        div.pure-control-group
          label(for=finalTag) Finaalitagi
          input#finalTag.pure-input-2-3(placeholder='Finaalitagi', type='text', name='finalTag' value=query.finalTag)
        div.pure-control-group
          label(for=consolationTag) Pronssipelitagi
          input#consolationTag.pure-input-2-3(placeholder='Pronssipelitagi', type='text', name='consolationTag' value=query.consolationTag)
      fieldset
      div.pure-control-group
        label(for=minimumGames) Alkusarjan minimipelimäärä
        input#minimumGames.pure-input-2-3(placeholder='Alkusarjan minimipelimäärä', type='number' name='minimumGames' value=query.minimumGames)
      fieldset
        div.pure-control-group
          label(for=since) Alkupäivämäärä
          input#since.pure-input-2-3(placeholder='Alkupäivämäärä' type='date' name='since' value=query.since)
        div.pure-control-group
          label(for=until) Loppupäivämäärä
          input#until.pure-input-2-3(placeholder='Loppupäivämäärä' type='date' name='until' value=query.until)
      input.pure-button.pure-button-primary(value='Näytä' type='submit')

  if data != null
    section.stretch
      h3 Alkusarja
      table#gameTable.pure-table.pure-table-bordered
        thead
          tr
            th
            each teamData, team in data.series
              th.no-sort= team
            th(data-sort-method=number) Pisteet
            th(data-sort-method=number) Maalit
            th(data-sort-method=number) Erät
            th.sort-default(data-sort-method=number) Sijoitus
        tbody
          each teamData, team in data.series
            tr
              th=team
              each od, o in data.series
                if o === team
                  td n/a
                else if !teamData.games[o]
                  td -
                else
                  td
                    each game in teamData.games[o]
                      div #{game.teams_by_name[team].score}!{"\&nbsp;-\&nbsp;"}#{game.teams_by_name[o].score}
              td=teamData.score
              td=teamData.goals
              td=teamData.count
              td=data.seriesResults[team]
        script new Tablesort(document.getElementById('gameTable'));
      h3 Puolivälierät
      table#quarterFinalTable.pure-table.pure-table-bordered
        thead
          tr
            each qfp, i in data.quarterFinal.matchups
              if 7 - i < data.numTeams
                th= qfp.join(" - ")
              else
                th= qfp[0]
        tbody
          tr
            each qfp, i in data.quarterFinal.matchups
              td
                each g in data.quarterFinal.games[i]
                  div #{g.teams_by_name[qfp[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[qfp[1]].score}

      h3 Välierät
      table#semiFinalTable.pure-table.pure-table-bordered
        thead
          tr
            each sfp, i in data.semiFinal.matchups
              if 3 - i < data.numTeams
                th= sfp.join(" - ")
              else
                th= sfp[0]
        tbody
          tr
            each sfp, i in data.semiFinal.matchups
              td
                each g in data.semiFinal.games[i]
                  div #{g.teams_by_name[sfp[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[sfp[1]].score}

      h3 Loppuottelut
      table#finalsTable.pure-table.pure-table-bordered
        thead
          tr
            th=data.final.matchup.join(" - ")
            th=data.consolation.matchup.join(" - ")
        tbody
          tr
            td
              each g in data.final.games
                div #{g.teams_by_name[data.final.matchup[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[data.final.matchup[1]].score}
            td
              each g in data.consolation.games
                div #{g.teams_by_name[data.consolation.matchup[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[data.consolation.matchup[1]].score}
                
                
      if data.final.winner && data.consolation.winner
        h3 Tulokset
        ol
          each team in data.tournamentResults
            li= team
