extends layout.jade

block title
  title Kikkeri - Turnaus

block scripts

block styles
  link(rel='stylesheet', href=config.path+'/web/tournament.css')

block content
  section
    form#criteria.pure-form(method='get' action='.')
      fieldset.pure-group
        input#gameTags.pure-input(placeholder='Tagit, -Tagit, +Tagit', type='text', name='gameTags' value=query.gameTags required="true")
        input#players.pure-input(placeholder='Pelaajat, -Pelaajat, +Pelaajat', type='text' name='players' value=query.players)
        input#numPlayers.pure-input(placeholder='Pelaajien lukumäärä', type='number' name='numPlayers' value=query.numPlayers)
      fieldset.pure-group
        input#quarterFinalTag.pure-input(placeholder='Puolivälierätagi', type='text', name='quarterFinalTag' value=query.quarterFinalTag)
        input#semiFinalTag.pure-input(placeholder='Välierätagi', type='text', name='semiFinalTag' value=query.semiFinalTag)
        input#finalTag.pure-input(placeholder='Finaalitagi', type='text', name='finalTag' value=query.finalTag)
        input#consolationTag.pure-input(placeholder='Pronssipelitagi', type='text', name='consolationTag' value=query.consolationTag)
      fieldset.pure-group
        input#minimumGames.pure-input(placeholder='Alkusarjan minimipelimäärä', type='number' name='minimumGames' value=query.minimumGames)
      fieldset.pure-group
        input#since.pure-input(placeholder='Alkupäivämäärä' type='date' name='since' value=query.since)
        input#until.pure-input(placeholder='Loppupäivämäärä' type='date' name='until' value=query.until)
      input.pure-button.pure-button-primary(value='Näytä' type='submit')

  if data != null
    section.stretch
      h3 Alkusarja
      table#gameTable.pure-table.pure-table-bordered
        thead
          tr
            th
            each teamData, team in data.series
              th= team
            th Pisteet
            th Maalit
            th Erät
            th Sijoitus
        tbody
          each teamData, team in data.series
            tr
              th=team
              each od, o in data.series
                if o === team
                  td n/a
                else if !teamData.games[o]
                  td -
                else
                  td
                    each game in teamData.games[o]
                      div #{game.teams_by_name[team].score}!{"\&nbsp;-\&nbsp;"}#{game.teams_by_name[o].score}
              td=teamData.score
              td=teamData.goals
              td=teamData.count
              td=data.seriesResults[team]
      h3 Puolivälierät
      table#quarterFinalTable.pure-table.pure-table-bordered
        thead
          tr
            each qfp in data.quarterFinalPairs
              th= qfp.join(" - ")
        tbody
          tr
            each qfp, i in data.quarterFinalPairs
              td
                each g in data.quarterFinalPairGames[i]
                  div #{g.teams_by_name[qfp[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[qfp[1]].score}

      h3 Välierät
      table#semiFinalTable.pure-table.pure-table-bordered
        thead
          tr
            each sfp in data.semiFinalPairs
              th= sfp.join(" - ")
        tbody
          tr
            each sfp, i in data.semiFinalPairs
              td
                each g in data.semiFinalPairGames[i]
                  div #{g.teams_by_name[sfp[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[sfp[1]].score}

      h3 Loppuottelut
      table#finalsTable.pure-table.pure-table-bordered
        thead
          tr
            th=data.finalPair.join(" - ")
            th=data.consolationPair.join(" - ")
        tbody
          tr
            td
              each g in data.finalPairGames
                div #{g.teams_by_name[data.finalPair[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[data.finalPair[1]].score}
            td
              each g in data.consolationPairGames
                div #{g.teams_by_name[data.consolationPair[0]].score}!{"\&nbsp;-\&nbsp;"}#{g.teams_by_name[data.consolationPair[1]].score}
                
                
      h3 Tulokset
      ol
        each team in data.tournamentResults
          li= team
